{% extends 'HomefinanceBundle:layout:administration.html.twig' %}

{% trans_default_domain "administration" %}

{% block title %}
    {{ 'transactions.by_tag.title'|trans }}
{% endblock %}

{% block form_title %}
    {{ 'transactions.by_tag.title'|trans }}
{% endblock %}

{% block form %}

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ year }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for y in years %}
                <li><a href="{{ url('transactions_by_tag', { 'year': y}) }}">{{ y }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th></th>
            {% for column_key,column in columns %}
                <th class="text-right">{{ column }}</th>
            {% endfor %}
            <th class="text-right warning">{{ 'transactions.by_tag.total'|trans }}</th>
            <th class="text-right warning">{{ 'transactions.by_tag.avg'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for row_key,row in rows %}
            {% set row_total = 0 %}
            <tr>
                <td>
                    <a href="{{ url('list_all_transactions_by_tag', {'filter': 'year', 'value': year, 'filter2': 'tag', 'value2': row.slug, 'reset': true}) }}">
                    {{ row.name }}
                    </a>
                </td>
                {% for column_key, column in columns %}
                    <td class="text-right">
                    {% if (pivotTable[row.id] is defined and pivotTable[row.id][column_key] is defined) %}
                        {% set row_total = row_total + pivotTable[row.id][column_key]  %}
                        &euro; {{ pivotTable[row.id][column_key]|number_format(2, ',', '.') }}
                    {% else %}
                        -
                    {% endif %}
                    </td>
                {% endfor %}
                <th class="text-right warning">
                    &euro; {{ row_total|number_format(2, ',', '.') }}
                </th>
                <th class="text-right warning">
                    &euro; {{ (row_total/12)|number_format(2, ',', '.') }}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}